<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>start</title>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	</head>
	<body>
		
		
		<div>
			<h2>글 작성하기 <button type="button" id="backBtn"  style="margin:30px; height: 30px;">이전</button></h2>
			<input type="text" id="seq" hidden value=""></input><br>
			<label for="title">제목:</label>
			<input type="text" id="title" placeholder="제목" style="margin:15px;"></input><br>
			<label for="writer">글쓴이:</label>
			<input type="text" id="writer"placeholder="글쓴이" style="margin:15px 0px 15px 0px;"></input><br>
			<label for="textWrite">작성글:</label>
			<input type="text" id="textWrite"placeholder="작성글" style="width:350px; height:100px; margin:15px 0px 15px 0px;"></input><br>
			<label for="writeDate">일시:</label>
			<input type="date" id="writeDate" style="margin:15px; width:170px;"></input><br>
			<input type="text" id="view" hidden></input><br>


			<button type="button" id="insertBtn" style="width: 70px; height:30px; margin-left:70px;">글 등록</button>
			
		</div>
	
	</body>
	
	<script>
		
		$(document).ready(function(){
					
					
			document.getElementById('backBtn').addEventListener('click',function(){
				
				window.location.href = "/mainPage";	
			})
					
			
					
					
						
			document.querySelector('#insertBtn').addEventListener('click',function(){
				
				var board = {
						title:$('#title').val(),
						writer:$('#writer').val(),
						textWrite:$('#textWrite').val()		
					}
		
					
					fetch('/insertComment',{
						method:"POST",
						headers:{
							'Content-Type':'application/json',
						},
						body:JSON.stringify(board),
						})
						.then(response => response.json())
						.then(data => {
							
							if(data = true){
								alert('등록하였습니다.');
								window.location.href = "/mainPage";
								
							}else{
								alert('등록실패하였습니다.');		
							}
							
							
						})
						.catch(error => {
						    
							
						});
							
					})
		
				
				
			         
							
				
				
			})	
						
								
			//	})
					
					
					
		/*			$.ajax({
							url:"/insertComment",
							type:"GET",
							data:board,
							success: function(board){
														
								
							}
		
						});*/	

		
		
			

			    

				

			

			
			
			
		
		
		
	</script>
	
</html>