<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>start</title>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	</head>
	<body>
		
		
		<div>
			<h2>글 작성하기</h2>
			<input type="text" id="seq" hidden value=""></input><br>
			<label for="title">제목:</label>
			<input type="text" id="title" placeholder="제목" style="margin:15px;"></input><br>
			<label for="writer">글쓴이:</label>
			<input type="text" id="writer"placeholder="글쓴이" style="margin:15px 0px 15px 0px;"></input><br>
			<label for="text_write">작성글:</label>
			<input type="text" id="text_write"placeholder="작성글" style="width:350px; height:100px; margin:15px 0px 15px 0px;"></input><br>
			<label for="write_date">일시:</label>
			<input type="date" id="write_date" style="margin:15px; width:170px;"></input><br>
			<input type="text" id="view" hidden></input><br>
			
			<button type="button" id="insertBtn" style="width: 70px; height:30px; margin-left:70px;">글 등록</button>
		</div>
	
	</body>
	
	<script>
		
		$(document).ready(function(){
			
			var max_seq;
			
			///$('#insertBtn').on('click',function(){
			
			
			document.querySelector('#insertBtn').addEventListener('click',function(){
				
				var board = {
						title:$('#title').val(),
						writer:$('#writer').val(),
						text_write:$('#text_write').val()		
					}
		
					
					fetch('/insertComment',{
						method:"POST",
						headers:{
							'Content-Type':'application/json',
						},
						body:JSON.stringify(board),
						})
						.then(response => response.json())
						.then(data => {
							alert('등록하였습니다.');
							
							
						})
						.catch(error => {
						    alert('등록실패하였습니다.');
							
						});
							
					})
		
				
			})	
						
								
			//	})
					
					
					
		/*			$.ajax({
							url:"/insertComment",
							type:"GET",
							data:board,
							success: function(board){
														
								
							}
		
						});*/	

		
		
			

			    

				

			

			
			
			
		
		
		
	</script>
	
</html>