<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>"
      xmlns:layout="<http://www.ultraq.net.nz/thymeleaf/layout>">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/script.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	
</head>
<body>
    <div>layout:include="~{layout :: content}" </div>
	<h1>게시판2</h1>
	<div id="grid"></div>
	
	
</body>
<script>
	
 $(document).ready(function(){


	 var boardArray = [];
	 	 
	   $.ajax({
        url: "/boardGridAjax",
        type: "GET",
        contentType: "application/json",
        dataType: "json",
        success: function (result) {



            grid.resetData(result);
            setTimeout(()=> grid.refreshLayout(),100);
        }
        
         
    });

     const grid = new tui.Grid({
         el: document.getElementById('grid'),
         data:boardArray,
         scrollX: false,
         scrollY: false,
         pageOptions: {
             useClient: true,
             perPage: 10
         },
         columns: [
             {
                 header: '번호',
                 name: 'seq'
             },
             {
                 header: '제목',
                 name: 'title'
             },
             {
                 header: '글쓴이',
                 name: 'writer'
             },
             {
                 header: '일시',
                 name: 'writeDate'
             },
             {
                 header: '조회수',
                 name: 'viewCount'
             }
         ]

     });

    grid.on('click',(ev)=>{

      let id = grid.getRow(ev.rowKey);
      debugger
      console.log(id.seq);



       } );


 });
		
	
	
	
	
	
	
	
	

	 
    
   
 
    
 
	
		
</script>


    
</html>